.mega-menu-item{
    position: relative;
}
.mega-menu-item:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}
.mega-menu-item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition-duration);
}
.mega-menu-item:hover::before{
    width: 100%;
}
.mega-menu-item a{
    color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.mega-menu-item a svg{
    margin-right: 10px;
}