.footer {
    background-color: #191919;
    padding: 70px 0 0;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    justify-content: center;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: #fff;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
}