.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
@media (max-width: 575px) {
    .testimonials .container{
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}