.videos .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-backgroung);
    border: 1px solid #ddd;
}

.videos .holder .list {
    background-color: #fff;
}

.videos .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
    color: var(--main-color);
}

.videos .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--section-backgroung);
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.videos .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .holder .preview {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .holder .preview img {
    max-width: 100%;
}

.videos .holder .preview .info {
    padding: 20px;
    background-color: #fff;
    margin-top: 10px;
}

@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}

@media (min-width: 576px) {
    .videos .holder .list {
        min-width: 300px;
    }
}