.services-box {
    background-color: #fff;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition-duration);
    position: relative;
}

.services-box::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-transition-duration);
}

.services-box:hover {
    transform: translateY(-10px);
}

.services-box:hover::before {
    width: 100%;
}

.services-box>svg {
    margin: 30px auto 20px;
    display: block;
    font-size: 4em;
    text-align: center;
    color: #d5d5d5;
}

.services-box>h3 {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}

.services-box .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}

.services-box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services-box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}
.services-box .info a {
    color: var(--main-color);
}