.team{z-index: 0;}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
@media (max-width: 575px) {
    .team .container{
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    }
}