.stats {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-image: url(./stats.jpg);
    background-size: cover;
    min-height: 300px;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fffffff2;
}

.stats h2 {
    font-weight: bold;
    font-size: 24px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
@media (max-width: 575px) {
    .stats .container{
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
}